<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://pro-app-qn.fir.im/591a938d9c69f8f14fae9d78543ecdef57951f0d?attname=COrder.ipa_3.2.15.55.ipa&amp;e=1540364257&amp;token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:crnHGaA7RWgRhSEDkIlrvyx09NU=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://3c.dafysz.cn/app/file/ios/vesion/image57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://3c.dafysz.cn/app/file/ios/vesion/image512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.giveu.corderEnterprise</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>即有宝</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
